@import './Home.module.scss';

.courseDetails {
  position: relative;
  padding: 80px 0;

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url('../assets/course-frame.svg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__content {
    .title {
      &::after {
        display: none;
      }
      margin-bottom: 60px;

      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }
}

.accordion {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1440px) {
    max-width: 570px;
  }
  @media (max-width: 1300px) {
    max-width: 470px;
  }

  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #000000;
    padding: 16px 0;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #0b0b14;
    }
  }
}

.button {
  margin: 40px auto;
}

.content {
  padding: 16px 25px;
  background: #f7f4eb;
}
.name {
  position: relative;
  padding-left: 20px;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 5px;

  @media (max-width: 420px) {
    font-size: 14px;
    line-height: 20px;
  }

  &__options {
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #0b0b14;
      margin-bottom: 8px;
    }
    .payment__name {
      padding-left: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #0b0b14;
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        top: 6px;
        content: '';
        background: linear-gradient(
          135deg,
          #f4ebac 14.7%,
          #b7955b 40.45%,
          #997745 51.94%,
          #836135 63.1%,
          #7b592f 70.25%,
          #7e5c31 74.41%,
          #886638 77.73%,
          #997744 80.77%,
          #b08e54 83.61%,
          #c7a463 85.69%
        );
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }

  &::after {
    position: absolute;
    left: 0;
    top: 6px;
    content: '';
    background: linear-gradient(
      135deg,
      #f4ebac 14.7%,
      #b7955b 40.45%,
      #997745 51.94%,
      #836135 63.1%,
      #7b592f 70.25%,
      #7e5c31 74.41%,
      #886638 77.73%,
      #997744 80.77%,
      #b08e54 83.61%,
      #c7a463 85.69%
    );
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
.options {
  margin-bottom: 5px;
  h3 {
    padding-top: 5px;
    border-top: 1px solid #d5cdbf;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #0b0b14;
    margin-bottom: 15px;
  }
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0b0b14;

    &:last-child {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #0b0b14;
    }
  }
}

.images {
  max-width: 100%;
  width: 100%;
  text-align: center;

  &__gallery {
    position: absolute;
    left: -8px;
    top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      position: relative;
      left: 0;
      top: 0;
      margin: 0 auto;
    }
  }
  &__coloumn {
    flex: 30%;
    max-width: 135px;
    padding: 5px 4px;

    @media (max-width: 1300px) {
      flex: 25%;
      max-width: 125px;
    }

    @media (max-width: 992px) {
      flex: 50%;
      max-width: 155px;
    }
    @media (max-width: 768px) {
      max-width: 140px;
    }
    @media (max-width: 565px) {
      flex: 33%;
      max-width: 130px;
      height: 126px;
    }
    @media (max-width: 425px) {
      flex: 25%;
      max-width: 110px;
      height: 101px;
    }

    &:first-child {
      max-width: 160px;

      @media (max-width: 1300px) {
        max-width: 140px;
      }
      @media (max-width: 992px) {
        max-width: 160px;
      }
      @media (max-width: 768px) {
        max-width: 140px;
      }
      @media (max-width: 565px) {
        max-width: 100px;
      }
      @media (max-width: 425px) {
        max-width: 80px;
      }
    }
    &:last-child {
      flex: 40%;
      max-width: 300px;
      height: 330px;
      display: none;

      @media (max-width: 992px) {
        display: block;
      }
      @media (max-width: 565px) {
        height: 250px;
      }
      @media (max-width: 425px) {
        flex: 25%;
        height: 200px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      object-fit: cover;

      @media (max-width: 565px) {
        height: 100%;
      }
    }
  }
}
.imagebg3 {
  max-width: 360px;
  width: 100%;
  height: 478px;
  object-fit: cover;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;

  @media (max-width: 1440px) {
    max-width: 300px;
    width: 100%;
    height: 400px;
    top: 150px;
  }
  @media (max-width: 1300px) {
    max-width: 250px;
    height: 350px;
  }
  @media (max-width: 992px) {
    position: relative;
    top: 0%;
    right: 0px;
    display: none;
  }
}
