@import './Home.module.scss';

.footer {
  position: relative;
  z-index: 111;
  padding: 45px 0;
  background: #010202;

  @media (max-width: 768px) {
    padding: 25px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__social {
    max-width: 140px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 468px) {
      max-width: 100px;
    }

    a {
      svg {
        @media (max-width: 468px){
          width: 18px;
          height: 18px; 
        }
        path {
          transition: 0.3s;
        }

        &:hover {
          path {
            fill: #ac865f;
          }
        }
      }
    }
  }
  &__button {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
      width: 100%;
      justify-content: flex-start;
    }
  }

  &__logo {
    display: flex;

    img {
      margin: 0 15px;
      @media (max-width: 468px) {
        width: 60px;
        height: 35px;
        margin: 0 5px;
      }
    }
  }
}
